@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
@media (max-width: 1024px) {
    .container {grid-template-columns: repeat(4,1fr);}
}
@media(min-width: 768px) and (max-width: 1023px) {
    .container {
        grid-template-columns: repeat(2,1fr);
    }
}